@page "/change-password"
@layout MainLayout
@attribute [Authorize]
@attribute [StreamRendering]
@rendermode @(new InteractiveServerRenderMode(false))
<PageTitle>Change Password</PageTitle>

<style>
    .password-group i{
        top:10px;
    }
    .rz-button-sm {
        display: none;
    }
     .rz-alert .rz-alert-icon {
         font-size: 40px;
    }

    .rz-alert .rz-alert-content {
        padding: 8px;
    }
</style>
@*<RadzenColumn Size="5" class="mb-3">
        <RadzenText Text="Change Password" TextStyle="TextStyle.H6" TagName="TagName.H5" style="margin: 0" />
    </RadzenColumn>*@

<div class="mb-3">
    <RadzenColumn Size="4" SizeMD="2">
        <RadzenText Text="Change Password" class="heading" TextStyle="TextStyle.H5" TagName="TagName.H1" style="margin: 0" />
    </RadzenColumn>
</div>
<RadzenCard>
    <RadzenStack>
        <RadzenRow AlignItems="AlignItems.Center">

        </RadzenRow>
        <RadzenRow>
            <RadzenColumn SizeMD="12">
                <RadzenTemplateForm Method="post" Submit="@FormSubmit" TItem="Customers.Data.Models.ApplicationUser" Data="@user"
                                    Visible="@(user != null)">
                    @*<RadzenAlert Size="AlertSize.Large" Shade="Shade.Light" AlertStyle="AlertStyle.Danger" Variant="Variant.Flat" Title="Cannot change password" Visible="@errorVisible">*@


                    @*<RadzenAlert Size="AlertSize.Large" Shade="Shade.Light" AlertStyle="AlertStyle.Success" Variant="Variant.Flat" Visible="@successVisible">*@
                    <RadzenAlert Shade="Radzen.Shade.Lighter" Variant="Radzen.Variant.Flat" Size="Radzen.AlertSize.Small" AlertStyle="Radzen.AlertStyle.Success" Visible="@successVisible">
                        Your password is changed successfully
                    </RadzenAlert>

                    @if (success)
                    {
                        <h6 class="text-body">Password Requirements:</h6>
                        <ul class="ps-3 mb-0">
                            <li class="mb-1">Password must be at least 6 Characters</li>
                            <li class="mb-1">Password must have at least one non-alphanumeric character</li>
                            <li class="mb-1">Password must have at least one lowercase ('a'-'z')</li>
                            <li class="mb-1">Password must have at least one uppercase ('A'-'Z')</li>
                        </ul>

                        <RadzenRow class="mb-2 mt-4">
                            <RadzenColumn SizeMD="2" class="mt-2">
                                <span>Old Password<i class="text-danger">*</i></span>
                            </RadzenColumn>
                            <RadzenColumn SizeMD="4" class=" mb-1">
                                <div class="password-group" style="width:100%">
                                    <RadzenTextBox type="@PasswordInputType"
                                                   @bind-Value="@change.OldPassword"
                                                   AutoComplete="false"
                                                   Name="oldPassword" Style="width:100%" />

                            
                                <i class="rz-button-icon-left rzi" style="font-size:20px;" @onclick="TogglePassword">
                                    @(oldpassword ? "visibility" : "visibility_off")
                                </i>
                                </div>
                                @*</RadzenFormField>*@
                                <RadzenRequiredValidator Component="oldPassword" Text="This field is required" />
                            </RadzenColumn>

                        </RadzenRow>
                        <RadzenRow class="mb-2">
                            <RadzenColumn SizeMD="2" class="mt-2">
                                <span>New Password<i class="text-danger">*</i></span>
                            </RadzenColumn>
                            <RadzenColumn class="mb-1">
                                @*<RadzenFormField Style="width:100%;  margin-top: 0px">*@
                                <div class="password-group" style="width:100%">
                                    <RadzenTextBox type="@NewPasswordInputType"
                                                   @bind-Value="@change.NewPassword"
                                                   AutoComplete="false"
                                                   Name="NewPassword" Style="width:100%" />

                                    <i class="rz-button-icon-left rzi" style="font-size:20px;" @onclick="ToggleNewPassword">
                                        @(NewPassword ? "visibility" : "visibility_off")
                                    </i>                                  
                                </div>
                                <RadzenRequiredValidator Component="NewPassword" Text="This field is required" />
                            </RadzenColumn>
                            <RadzenColumn SizeMD="2" class="mt-2">
                                <span>Confirm Password<i class="text-danger">*</i></span>
                            </RadzenColumn>
                            <RadzenColumn class=" mb-1">
                                <div class="password-group" style=" width:100%">
                                    <RadzenTextBox type="@ConfirmPasswordInputType"
                                                   @bind-Value="confirmPassword"
                                                   AutoComplete="false"
                                                   Name="ConfirmPassword" Style="width:100%" />

                                    <i class="rz-button-icon-left rzi" style="font-size:20px;" @onclick="ConfirmToggleNewPassword">
                                        @(ConfirmPassword ? "visibility" : "visibility_off")
                                    </i>                                
                                </div>
                                @*</RadzenFormField>*@
                                <RadzenRequiredValidator Component="ConfirmPassword" Text="This field is required" />
                                <RadzenCompareValidator Component="ConfirmPassword" Text="Passwords should be the same" Value="@change.NewPassword" />
                            </RadzenColumn>
                        </RadzenRow>
                        <RadzenRow style="margin-bottom: 1rem">

                        </RadzenRow>

                        <RadzenAlert Shade="Radzen.Shade.Lighter" Variant="Radzen.Variant.Flat" Size="Radzen.AlertSize.Small" AlertStyle="Radzen.AlertStyle.Danger" Visible="@errorVisible">
                            <h6>Problems found with your password:</h6>
                            <ul class="mt-2">
                                @foreach (var errorMessage in errorMessages)
                                {
                                    <li>@errorMessage.Trim()</li>
                                }
                            </ul>

                        </RadzenAlert>
                        @if (isLoading)
                        {
                            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.End">
                                <RadzenButton ButtonType="ButtonType.Button" Style="min-width:192px;padding:0;">
                                    <div class="spinner-border text-light" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                </RadzenButton>
                            </RadzenStack>
                        }
                        else
                        {

                            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.End">
                                <RadzenButton ButtonType="ButtonType.Submit" Text="Change password" Variant="Variant.Flat" />
                            </RadzenStack>
                        }

                    }
                </RadzenTemplateForm>
            </RadzenColumn>
        </RadzenRow>
    </RadzenStack>
</RadzenCard>

@code {
    private bool oldpassword = true;

    private bool NewPassword = true;

    private bool ConfirmPassword = true;

    private string PasswordInputType => oldpassword ? "password" : "text";
    private string NewPasswordInputType => NewPassword ? "password" : "text";
    private string ConfirmPasswordInputType => ConfirmPassword ? "password" : "text";

    void TogglePassword()
    {
        oldpassword = !oldpassword;
    }
    void ToggleNewPassword()
    {
        NewPassword = !NewPassword;
    }
    void ConfirmToggleNewPassword()
    {
        ConfirmPassword = !ConfirmPassword;
    }
}