@layout LoginLayout
@page "/forgot-password"
@using Customers.Admin.Models;
@rendermode @(new InteractiveServerRenderMode(false))

<PageTitle>Forgot Password</PageTitle>
<style>
    .rz-textbox {
        width: 100%;
    }

    .password-group i {
        top: 10px;
    }

    .position-relative {
        position: relative;
    }

    .rz-button-sm {
        display: none;
    }


    .password-toggle-icon {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }

    input[type='number'] {
        -moz-appearance: textfield;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
</style>

@if (forgotPassword)
{
    <RadzenRow>
        <RadzenColumn SizeMD="12">
            <RadzenTemplateForm TItem="Customers.Data.Models.AddUserModel" Data="@user" Submit="@FormSubmit">


                <RadzenRow style="margin-bottom: 1.5rem; Margin-top: 20px">
                    @*<RadzenColumn class="mt-2 mb-5">
                    <RadzenTextBox AutoComplete="false" Name="OTP" Placeholder="OTP" />
                </RadzenColumn>*@
                    <RadzenColumn class="mt-2 mb-2">
                        <RadzenTextBox MaxLength="150" AutoComplete="false" @bind-Value="@(user.Email)" Name="Name" Placeholder="Username" />
                        <RadzenRequiredValidator Component="Name" Text="This field is required" />
                    </RadzenColumn>
                </RadzenRow>
                <RadzenAlert class="mb-3" Shade="Shade.Lighter" Variant="Variant.Flat" Size="Radzen.AlertSize.Small" AlertStyle="Radzen.AlertStyle.Danger" Visible="@ErrorVisible">@error</RadzenAlert>
                <RadzenColumn class="mt-1 mb-2" Style=" display: flex; justify-content: center;">
                    <RadzenButton Variant="Variant.Flat" ButtonType="ButtonType.Submit" Text="Send OTP" ButtonStyle="ButtonStyle.Primary" class="w-100" />
                </RadzenColumn>
                <span class="mt-2" @onclick="Success" style="color: var(--rz-primary); text-decoration: underline; cursor: pointer; display: flex; justify-content: center; ">Back to login</span>

            </RadzenTemplateForm>
            <RadzenAlert class="mt-3 mb-3" Shade="Radzen.Shade.Lighter" Variant="Radzen.Variant.Flat" Size="Radzen.AlertSize.Small" AlertStyle="Radzen.AlertStyle.Danger" Visible="@NotAllowed">
                @error
            </RadzenAlert>
        </RadzenColumn>
    </RadzenRow>
}
@if (OTP)
{
    <RadzenRow>
        <RadzenColumn SizeMD="12">
            <RadzenTemplateForm TItem="Details" Data="@Details" Submit="@FormSubmitOTP">
                <RadzenAlert class="mt-3 mb-3" Shade="Radzen.Shade.Lighter" Variant="Radzen.Variant.Flat" Size="Radzen.AlertSize.Small" AlertStyle="Radzen.AlertStyle.Danger" Visible="@errorVisible">@error</RadzenAlert>

                <RadzenAlert class="mt-3 mb-3" Shade="Radzen.Shade.Lighter" Variant="Radzen.Variant.Flat" Size="Radzen.AlertSize.Small" AlertStyle="Radzen.AlertStyle.Success" Visible="@SuccessVisible">
                    @OTPSent
                </RadzenAlert>
                @if (!string.IsNullOrEmpty(IsUsercheckSuccess))
                {
                    <RadzenColumn>
                        <RadzenLabel Text=@IsUsercheckSuccess />
                    </RadzenColumn>
                }
                <RadzenRow>
                    <RadzenColumn class="mt-4 mb-1">
                        <RadzenTextBox MaxLength="20" type="number" @bind-Value="Details.OTP" AutoComplete="false" Name="OTP" Placeholder="Enter OTP" />
                        <RadzenRequiredValidator Component="OTP" Text="This field is required" />
                    </RadzenColumn>
                </RadzenRow>
                <RadzenRow>
                    <RadzenColumn class="mt-4">
                        <RadzenButton class="w-100" Variant="Variant.Flat" ButtonType="ButtonType.Submit" Text="Verify" ButtonStyle="ButtonStyle.Primary" />
                    </RadzenColumn>
                </RadzenRow>

            </RadzenTemplateForm>
        </RadzenColumn>
    </RadzenRow>

}
@if (changePassword)
{<PageTitle>Change Password</PageTitle>
    <RadzenRow>
        <RadzenColumn SizeMD="12">
            <RadzenTemplateForm TItem="Details" Data="@Details" Submit="@FormSubmitChangePassword">
                <RadzenAlert Shade="Radzen.Shade.Lighter" Style=" font-size: 10px;" Variant="Radzen.Variant.Flat" Size="Radzen.AlertSize.Small" AlertStyle="Radzen.AlertStyle.Danger" Visible="@errorVisible">
                    Problems found with your password
                    <ul class="mt-2">
                        @foreach (var errorMessage in errorMessages)
                        {
                            <li>@errorMessage.Trim()</li>
                        }
                    </ul>
                </RadzenAlert>
                <RadzenAlert class="mt-3 mb-3" Shade="Radzen.Shade.Lighter" Variant="Radzen.Variant.Flat" Size="Radzen.AlertSize.Small" AlertStyle="Radzen.AlertStyle.Success" Visible="@successVisible">
                    Your password is changed successfully
                </RadzenAlert>
                @if (!successVisible)
                {
                    <RadzenRow>
                        <RadzenColumn class="mt-4 mb-1 ">
                            <div class="password-group">
                                <RadzenTextBox MaxLength="50" Placeholder="New Password"
                                               type="@PasswordInputType"
                                               @bind-Value="Details.Password"
                                               AutoComplete="false"
                                               Name="Password" />
                                <i class="rz-button-icon-left rzi" style="font-size:20px;" @onclick="TogglePassword">
                                    @(password ? "visibility" : "visibility_off")
                                </i>

                                @*<RadzenButton Icon="@(password ? "visibility" : "visibility_off")"
                        Click="TogglePassword"
                        Variant="Variant.Text"
                        Size="ButtonSize.Medium" />*@
                            </div>
                            <RadzenRequiredValidator Component="Password" Text="This field is required" />
                        </RadzenColumn>
                    </RadzenRow>

                    <RadzenRow>
                        <RadzenColumn class="mt-4 mb-1">
                            <div class="password-group">
                                <RadzenTextBox MaxLength="50" type="@ConfirmPasswordInputType"
                                               @bind-Value="Details.ConfirmPassword"
                                               AutoComplete="false"
                                               Name="ConfirmPassword"
                                               Placeholder="Confirm New Password" />
                                <i class="rz-button-icon-left rzi" style="font-size:20px;" @onclick="ToggleConfirmPassword">
                                    @(ConfirmPassword ? "visibility" : "visibility_off")
                                </i>
                                @*<RadzenButton Icon="@(ConfirmPassword ? "visibility" : "visibility_off")"
                        Click="ToggleConfirmPassword"
                        Variant="Variant.Text"
                        Size="ButtonSize.Medium" />*@
                            </div>
                            <RadzenRequiredValidator Component="ConfirmPassword" Text="This field is required" />
                            <RadzenCompareValidator Component="ConfirmPassword" Text="Passwords should be the same" Value="@Details.Password" />
                        </RadzenColumn>
                    </RadzenRow>
                    <RadzenRow>
                        <RadzenColumn class="mt-5">
                            <RadzenButton class="w-100" Variant="Variant.Flat" ButtonType="ButtonType.Submit"
                                          Text="Change Password" ButtonStyle="ButtonStyle.Primary"
                                          Disabled="@(!string.IsNullOrEmpty(Details.ConfirmPassword) && Details.Password != Details.ConfirmPassword)" />
                        </RadzenColumn>
                    </RadzenRow>
                }
                else
                {
                    <span @onclick="Success" style="color:var(--rz-primary); text-decoration: underline; cursor: pointer; display: flex; justify-content: center;">Click to login</span>
                }
            </RadzenTemplateForm>
        </RadzenColumn>
    </RadzenRow>
}
@code {
    private bool password = true;

    private bool ConfirmPassword = true;

    private string PasswordInputType => password ? "password" : "text";
    private string ConfirmPasswordInputType => ConfirmPassword ? "password" : "text";

    void TogglePassword()
    {
        password = !password;
    }
    void ToggleConfirmPassword()
    {
        ConfirmPassword = !ConfirmPassword;
    }
}


